.header {
    text-align: right;
    background-color: black;
    color: white;
}
.footer {
    margin-top: 3rem;
    text-align: center;
    min-width: 100%;
    background-color: black;
    color: white;
    bottom: -200px;
    position: absolute;
    min-height: 250px;
}
.secondline {
  font-size: 1.2rem;
  font-style: oblique;
}
  .alert {
      padding: 20px;
      background-color: #ffcc99;
      margin-bottom: 15px;
}
hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 100%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 1px solid #aaaaaa;
       border-bottom: 1px solid #ffffff;
    }

.tabbar{
  width:100%;
}
.tabbar-button{
  min-height: 50px;
  background-color: black;
  color: white;
  display: inline-block;
  border-radius: 0 0 0 0;
  border: 0;
}
.tabbar-button:hover,
.tabbar-button:focus {
  color: #333;
  background-color: rgba(125, 125, 125, 0.5);
  outline: 0; }
/* label */
#info {
        z-index: 1;
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        background: rgba(0,60,136,0.7);
        color: white;
        border: 0;
        transition: opacity 100ms ease-in;
      }
#wz_colorbar {
        position: absolute;
        z-index:1;
        height: 350px;
        width: 10%;
        left: 2%;
        top: 25%;
        background-image: url("/mapdata/wz_colorbar");
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        padding: 0.5em 0.5em 0.5em 0.5em;
      }

#wk_colorbar {
        position: absolute;
        z-index:1;
        height: 350px;
        width: 10%;
        left: 2%;
        top: 25%;
        background-image: url("/mapdata/wk_colorbar");
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        padding: 0.5em 0.5em 0.5em 0.5em;
      }

#s2_colorbar {
        position: absolute;
        z-index:1;
        height: 350px;
        width: 10%;
        left: 2%;
        top: 25%;
        background-image: url("/mapdata/s2_colorbar");
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        padding: 0.5em 0.5em 0.5em 0.5em;
      }

#map {
  z-index: 0;
}

.ol-popup {
       position: absolute;
       background-color: white;
       -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
       filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
       padding: 15px;
       border-radius: 10px;
       border: 1px solid #cccccc;
       bottom: 12px;
       left: -50px;
       min-width: 280px;
     }
.ol-popup:after, .ol-popup:before {
 top: 100%;
 border: solid transparent;
 content: " ";
 height: 0;
 width: 0;
 position: absolute;
 pointer-events: none;
}
.ol-popup:after {
 border-top-color: white;
 border-width: 10px;
 left: 48px;
 margin-left: -10px;
}
.ol-popup:before {
 border-top-color: #cccccc;
 border-width: 11px;
 left: 48px;
 margin-left: -11px;
}
.ol-popup-closer {
 text-decoration: none;
 position: absolute;
 top: 2px;
 right: 8px;
}
.ol-popup-closer:after {
 content: "✖";
}
