{% extends "base.html" %}

{% block body %}

<div class="row">
    <div class="twelve columns", style="text-align: center">
        <h2>Error 404: Page was not found.</h2>
    </div>
</div>

{% endblock %}
