{% extends "base.html" %}

{% block body %}

<div class="row">
    <div class="twelve columns", style="text-align: center">
        <h2>Error 405: Method not allowed in this page</h2>
    </div>
</div>

{% endblock %}
