{% extends "base.html" %}

{% block body %}
<div class="row">
  <div class="twelve columns">
    <p>The electronic database of Andes 3DB integrates several sources of geophysical data that have been either digitized from articles published in the literature, extracted from public-domain databases or provided to us by individual researchers through collaboration agreements. These data can be visualized in maps or cross-sections defined by the user and the application generates Postscript figures that can be downloaded along with ASCII tables containing the subset of data used to construct those figures. Following the non-registered users can exploit this application but only with data considered of unrestricted use by the original authors.</p>
    <p>Registered Users contributing unpublished data to the compilation have also access to restricted information. We attempt to generate in the mid-time a community of registered users that share, exchange and analyze their data through this platform and can benefit from the synergies expected to be triggered by this exercise. This electronic database and the internet application have been developed using the open-source softwares PostgreSQL 8.3.1, Apache2 Web Server 2.2.8, Perl 5.10.0 and GMT 4.3.1.</p>
  </div>
</div>
<div class="row">
  <div class="six columns"
    <h3>Road Map</h3>
    <table class="u-full-width">
      <thead>
        <tr>
          <th style="width:20%">Month</th>
          <th style="width:80%">Task</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
