<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Andes 3DB(in development)</title>
  <meta name="description" content="">
  <meta name="author" content="Vicente Yañez Cuadra">
  <link rel="icon" type="image/png" href="{{url_for('static', filename='images/loguito.png')}}">

  <!-- Jquery
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

  <!-- ClaudFlare script to print the map
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="{{url_for('static', filename='js/filesave.js')}}"></script>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/skeleton.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">

  <!-- Open layers
  ____________________________________________________ -->
  <link rel="stylesheet" href="https://openlayers.org/en/v4.4.1/css/ol.css" type="text/css">
  <style>
    .map {
      height: 800px;
      width: 100%;
    }
  </style>
  <script src="https://openlayers.org/en/v4.4.1/build/ol.js" type="text/javascript"></script>

  <!-- Utility JS
  ____________________________________________________ -->
  <script type="text/javascript">
  function openTab(tabName, tabnum) {
      var i;
      var x = document.getElementsByClassName(tabnum);
      for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
      }
      document.getElementById(tabName).style.display = "block";
  }
  </script>
</head>
<body>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section class="header">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <h2>Andes 3DB</h2>
            <p>Welcome to Andes 3DB, you are in the GNSS time series analysis section! Have fun!</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Main Content -->
    <div class="container" style="min-height:550px">
      <!-- Messages -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert">
              {{message}}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <!-- Principal body -->
      {% block body %} {% endblock %}
    </div>
</body>
<!-- Footer  -->
<div class="footer">
    <div class="row">
      <div class="four columns">
        <h5>Contact</h5>
        <ul>
            <li>Lead Investigator Andrés Tassara andrestassara@udec.cl</li>
            <li>Developer Vicente Yañez vicenteyanez@protonmail.com</li>
        </ul>
      </div>
      <div class="four columns">
          <h5>Support</h5>
          <table>
            <tr>
              <td><a href="http://www2.udec.cl/geologia/"><img src="{{url_for('static', filename='images/geologiaudec.png')}}" alt="Departamento Ciencias de la Tierra Universidad de Concepción" height="90" width="90"></a></td>
              <td><a href=""><img src="{{url_for('static', filename='images/conicyt.png')}}" alt="Fondecyt 1151175" height="90" width="90"></a></td>
            </tr>
          </table>
      </div>
      <div class="four columns">
          <h5>Software licence</h5>
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="General Public license V3" style="border-width:0" src="{{url_for('static', filename='images/gpl.png')}}" /></a><br />This work is licensed under a GNU General Public License V3</a>.
      </div>
    </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</html>
