{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="seven columns">
      <div id="legend"></div>
      <div id="map" class="map">
        <div style="display: none;">
          <!-- Popup -->
          <div id="popup" title="Station Details"></div>
   </div>
        <pre id="info"/>
        <script type="text/javascript">
      // default zoom, center and rotation
        var zoom = 4;
        var center = ol.proj.fromLonLat([-70.0, -39.0]);
        var rotation = 0;

        if (window.location.hash !== '') {
          // try to restore center, zoom-level and rotation from the URL
          var hash = window.location.hash.replace('#map=', '');
          var parts = hash.split('/');
          if (parts.length === 4) {
            zoom = parseInt(parts[0], 10);
            center = [
              parseFloat(parts[1]),
              parseFloat(parts[2])
            ];
            rotation = parseFloat(parts[3]);
          }
        }

        // station points
        // /////////////////////////
        var fill = new ol.style.Fill({color: 'black'});
        var styles = {
         'square': new ol.style.Style({
           image: new ol.style.RegularShape({
             fill: fill,
             points: 4,
             radius: 5,
             angle: Math.PI / 4
           })
         }),
        }
        var coordinates = [{% for i in lonlat[1] %}
          [{{i[0]}}, {{i[1]}}],
          {% endfor %}];
        var stations_name = [{% for i in lonlat[0] %}
                                  '{{i}}',
                             {% endfor %}]
        count = coordinates.length;
        var pointsfeatures = new Array(count);
        for (var i = 0; i < count; ++i) {
          pointsfeatures[i] = new ol.Feature(new ol.geom.Point(ol.proj.fromLonLat(coordinates[i])));
          pointsfeatures[i].setStyle(styles['square']);
          pointsfeatures[i].setId(stations_name[i])
        }
        var pointssource = new ol.source.Vector({
          features: pointsfeatures
        });
        var PointsLayer = new ol.layer.Vector({
          source: pointssource
        });

        // field image
        var posarray = {{ fieldarea }};
        var fieldpos1 = ol.proj.fromLonLat([posarray[0], posarray[2]]);
        var fieldpos2 = ol.proj.fromLonLat([posarray[1], posarray[3]]);
        var fieldLayer = new ol.layer.Image({
          source: new ol.source.ImageStatic({
            url: '/mapdata/fieldfigure?date={{ herenow }}',
            projection: 'EPSG:3857',
            imageExtent: [fieldpos1[0], fieldpos1[1], fieldpos2[0], fieldpos2[1]]
          }),
          opacity:0.5
        })

        var barLayer = new ol.layer.Image({
          source: new ol.source.ImageStatic({
            url: '/mapdata/colorbar?date={{ herenow }}',
            projection: 'EPSG:3857',
            imageExtent: [-100, 0, 100, 500]
          }),
          opacity:0.5
        })

        var map = new ol.Map({
          target: 'map',
          layers: [
            new ol.layer.Tile({
              source: new ol.source.OSM()
            }),
            fieldLayer, PointsLayer
          ],
          controls: ol.control.defaults({
            attributionOptions: /** @type {olx.control.AttributionOptions} */ ({
              collapsible: false
            })
          }),
          view: new ol.View({
            center: center,
            zoom: zoom,
            rotation: rotation
          })
        });

        // Create the graticule component
       var graticule = new ol.Graticule({
         // the style to use for the lines, optional.
         strokeStyle: new ol.style.Stroke({
           color: 'rgba(120,120,120,0.5)',
           width: 1,
           lineDash: [0.5, 4]
         }),
         showLabels: true
       });

     graticule.setMap(map);

        // velocity vectors
        var arrowStyleFunction = function(feature_arrow) {
          var arrow_styles = [
            // linestring
            new ol.style.Style({
              stroke: new ol.style.Stroke({
                color: '#000000',
                width: 2
              })
            })
          ];
          var lineStringsArray = feature_arrow.getGeometry().getLineStrings();
          for (var i = 0; i < lineStringsArray.length; i++) {
            lineStringsArray[i].forEachSegment(function(start, end) {
              var dx = end[0] - start[0];
              var dy = end[1] - start[1];
              var rotation = Math.atan2(dy, dx);
              arrow_styles.push(new ol.style.Style({
                geometry: new ol.geom.Point(end),
                image: new ol.style.Icon({
                  src: "{{url_for('static', filename='images/arrow.png')}}",
                  rotateWithView: false,
                  rotation: -rotation
                })
              }));
            });
          }
          return arrow_styles;
        };
        var VelocityVectorSource = new ol.source.Vector({});
        VelocityVectorLayer = new ol.layer.Vector({
                                source: VelocityVectorSource,
                                style: arrowStyleFunction
                              })
        var arrow_scale = 1/Math.pow(map.getView().getZoom(), 2);
        var arrows_points = [{% for i in vectors2plot %}
                              [ [{{i[0]}}, {{i[1]}}],
                              [{{i[0]}}+{{i[2]}}*arrow_scale,
                               {{i[1]}}+{{i[3]}}*arrow_scale]],
          {% endfor %}];

        var arrows = new ol.geom.MultiLineString(arrows_points);
        arrows.transform('EPSG:4326', 'EPSG:3857');
        var VelocityVectorFeature = new ol.Feature({
          name: "Vector Feature",
          geometry: arrows,
          style: arrowStyleFunction
        });
        VelocityVectorSource.addFeature(VelocityVectorFeature);
        map.addLayer(VelocityVectorLayer)

        // refresh velocity vectors scale when zoom change
        map.getView().on('change:resolution', function(){
          var arrow_scale = 1/Math.pow(map.getView().getZoom(), 2);
          var arrows_points = [{% for i in vectors2plot %}
                                [ [{{i[0]}}, {{i[1]}}],
                                [{{i[0]}}+({{i[2]}}*arrow_scale),
                                 {{i[1]}}+({{i[3]}}*arrow_scale)]],
            {% endfor %}];
          var arrows = new ol.geom.MultiLineString(arrows_points);
          arrows.transform('EPSG:4326', 'EPSG:3857');
          VelocityVectorFeature.setGeometry(arrows);
        });

        // Popup showing the position the user clicked
        var popup = new ol.Overlay({
          element: document.getElementById('popup')
        });
        map.addOverlay(popup);

        // helper function returns true if a string is on the array
        function isInArray(days, day) {
            return days.indexOf(day.toLowerCase()) > -1;
        };

        map.on('click', function(evt) {
          map.forEachFeatureAtPixel(evt.pixel, function(feature,layer) {
             if (isInArray(stations_name, feature.getId())) {
                     feature.setStyle(listenerStyle);
                     featureListener(evt);

                     var element = popup.getElement();
                     var coordinate = evt.coordinate;
                     var hdms = ol.coordinate.toStringHDMS(ol.proj.transform(
                         coordinate, 'EPSG:3857', 'EPSG:4326'));

                     $(element).popover('destroy');
                     popup.setPosition(coordinate);
                     // the keys are quoted to prevent renaming in ADVANCED mode.
                     $(element).popover({
                       'placement': 'top',
                       'animation': false,
                       'html': true,
                       'content': '<p>The location you clicked was:</p><code>' + hdms + '</code>'
                     });
                     $(element).popover('show');s
             }
          });
        });
      </script>
      </div>
    </div>
    <div class="five columns">
      <div class="tabbar">
         <button class="tabbar-button" onclick="openTab('GNSS', 'tabs1')">GNSS</button>
         <button class="tabbar-button" onclick="openTab('FieldAnalysis', 'tabs1')">Field Analysis</button>
         <button class="tabbar-button" onclick="openTab('MapOptions', 'tabs1')">Map Options</button>
         <hr>
      </div>
      <div id="GNSS" class="tabs1">
      <form action="{{url_for('homepage')}}", method="post">
        <h4>Latitude</h4>
        <table class="u-full-width">
          <tbody>
            <tr>
              <td><label for="latmin">Minimum</label>
              <input type="number" name="latmin" min="-90" max="90" step="0.1" placeholder="latmin" value="-45"></td>
              <td><label for="latmax">Maximum</label>
              <input type="number" name="latmax" min="-90" max="90" step="0.1" placeholder="latmax" value="-35"></td>
            </tr>
          </tbody>
        </table>
        <h4>Longitude</h4>
        <table  class="u-full-width">
          <tbody>
            <tr>
              <td><label for="lonmin">Minimum</label>
                <input type="number" min="-180" max="180" step="0.1" placeholder="lonmin" name="lonmin" value="-76"></td>
              <td><label for="lonmax">Maximum</label>
                <input type="number" min="-180" max="180" step="0.1" placeholder="lonmax" name="lonmax" value="-64"></td>
            </tr>
          </tbody>
        </table>
        <h4>Time range (yyyy-mm-dd)</h4>
        <table  class="u-full-width">
          <tbody>
            <tr>
              <td><label for="inicial">Start</label>
                  <input type="text" placeholder="t_inicial" name="t_inicial" value="2005-01-01"></td>
              <td><label for="final">End</label>
                  <input type="text" placeholder="t_final" name="t_final" value="2016-12-31"></td>
            </tr>
          </tbody>
        </table>
        <input class="button-primary" name="btn_select" value="Select" type="submit">
        <br />
        <input class="button-primary" name="btn_delete" value="Delete" type="reset">
      </form>
      </div>
      <div id="FieldAnalysis" class="tabs1" style="display:none">
        <form action="{{url_for('field')}}", method="post">
          <h4>Latitude</h4>
          <table  class="u-full-width">
            <tbody>
              <tr>
                <td><label for="latmin">Minimum</label>
                    <input type="number" name="latmin" min="-90" max="90" step="0.1" placeholder="latmin" value="-45"></td>
                <td><label for="latmax">Maximum</label>
                    <input type="number" name="latmax" min="-90" max="90" step="0.1" placeholder="latmax" value="-35"></td>
              </tr>
            </tbody>
          </table>
          <h4>Longitude</h4>
          <table  class="u-full-width">
            <tbody>
              <tr>
                <td><label for="lonmin">Minimum</label>
                    <input type="number" min="-180" max="180" step="0.1" placeholder="lonmin" name="lonmin" value="-76"></td>
                <td><label for="lonmax">Maximum</label>
                    <input type="number" min="-180" max="180" step="0.1" placeholder="lonmax" name="lonmax" value="-64"></td>
              </tr>
            </tbody>
          </table>
          <h4>Time range (yyyy-mm-dd)</h4>
          <table  class="u-full-width">
            <tbody>
              <tr>
                <td><label for="inicial">Start</label>
                    <input type="text" placeholder="t_inicial" name="t_inicial" value="2005-01-01"></td>
              <td><label for="final">End</label>
                  <input type="text" placeholder="t_final" name="t_final" value="2016-12-31"></td>
              </tr>
            </tbody>
          </table>
          <h4>Methodology</h4>
          <input type="number" name="grid" value="1000" max="100000" min="100"> Grid density(100000 - 100)
          <br />
          <input type="number" name="alfa" value="10000" max="300000" min="100"> Alfa(300000 - 10000)
          <input class="button-primary" name="btn_field" value="Plot" type="submit">
        </form>
      </div>
      <div id="MapOptions" class="tabs1" style="display:none">
      </div>
  </div>
</div>
<br>
<div class="row">
  <div class="ten columns">
    <div class="tabbar">
      <button class="tabbar-button" onclick="openTab('Model', 'tabs2')">Model tools</button>
      <button class="tabbar-button" onclick="openTab('Vectors', 'tabs2')">Vectors</button>
    </div>
  </div>
  <div class="two columns">
    <input class="button-primary" onclick="window.open('download?date={{ herenow }}','_blank')" type="submit" value="Download Data"/>
  </div>
  <hr>
</div>
  <div id="Model" class="tabs2">
    <table class="u-full-width">
      <thead>
        <tr>
          <th style="width:12%">Station</th>
          <th style="width:10%">Polynomial</th>
          <th style="width:15%">Jumps</th>
          <th style="width:15%">Fourier</th>
          <th style="width:15%">Log start</th>
          <th style="width:15%">Log scale</th>
          <th style="width:10%"></th>
          <th style="width:10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>All the stations</td>
          <td><input style="width:100%" type="text" name="poly_all" value=""></td>
          <td><input style="width:100%" type="text" name="jump_all" value=""></td>
          <td><input style="width:100%" type="text" name="fourier_all" value=""></td>
          <td><input style="width:100%" type="text" name="logstart_all" value=""></td>
          <td><input style="width:100%" type="text" name="logscale_all" value=""></td>
          <td><button onclick="">Edit All</button></td>
        </tr>
        {% for station in stations %}
        <tr>
          <form action="edit/{{ station[0] }}", method="post">
          <td>{{ station[0] }}<br>Lon: {{ station[1] }}º<br>Lat: {{ station[2] }}º</td>
          <td><input style="width:100%" type="text" name="poly" value="{{ station[3] }}"></td>
          <td><input style="width:100%" type="text" name="jump" value="{{ station[4] }}"></td>
          <td><input style="width:100%" type="text" name="fourier" value="{{ station[5] }}"></td>
          <td><input style="wid th:100%" type="text" name="logstart" value="{{ station[6] }}"></td>
          <td><input style="width:100%" type="text" name="logscale" value="{{ station[7] }}"></td>
          <td><input class="button-primary" name="edit" value="Edit" type="submit"></td>
          </form>
          <td><input class="button-primary" value="Plot" onclick="window.open('plot/{{ station[0] }}?date={{ herenow }}','_blank')" type="submit"></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="Vectors" class="tabs2" style="display:none">
    <div class="twelve columns">
    <table>
      <thead>
        <tr>
          <th style="width:15%">Stations</th>
          <th style="width:25%">Velocity(mm/year)<br>East, Norh and Vertical </th>
          <th style="width:25%">Start<br>yyyy-mm-dd</th>
          <th style="width:25%">End<br>yyyy-mm-dd</th>
          <th style="width:10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>All the stations</td>
          <td></td>
          <td><input style="width:100%" type="text" name="start_all" value=""></td>
          <td><input style="width:100%" type="text" name="end_all" value=""></td>
          <td><button style="width:100%" onclick="">Edit All</button></td>
        </tr>
        {% for station in vectors %}
        <tr>
          <form action="{{url_for('calc_vector')}}", method="post">
          <td>{{ station[0] }}<br>Lon: {{ station[1] }}º<br>Lat: {{ station[2] }}º<input type="hidden" name="stationname" value="{{ station[0]}}"></td>
          <td>Ve: {{ station[8] }} <br>Vn: {{ station[9] }} <br> Vz: {{ station[10] }} </td>
          <td><input style="width:100%" type="text" name="t1" value="{{ station[11] }}"></td>
          <td><input style="width:100%" type="text" name="t2" value="{{ station[12] }}"></td>
          <td><input style="width:100%" class="button-primary" name="btn_vector" value="Calculate" type="submit">
          </form><input style="width:100%" class="button-primary" value="Plot" onclick="window.open('plot-v/{{ station[0] }}?date={{ herenow }}','_blank')" type="submit"></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>

{% endblock %}
